body {
    font-family: Raleway, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin:auto;
    text-align:left;
}

header {
    padding: 5% 7% 5%;
    border-bottom: 1px solid hsla(0,0%,63%,.3);
}

a {
    text-decoration: none;
}

header p {
    font-size: 0.7em;
    letter-spacing: 0.25em;
    line-height: 25px;
    padding-top: 1%;
}

p a {
    font-size: 0.9em;
    letter-spacing: 0.25em;
    line-height: 25px;
    color:rgb(189, 179, 179);
}

h2 {
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.2rem;
    padding: 3rem 0 1.25rem 0
}

/* Navbar */
.navbar-brand {
    font-size: 0.7em;
    font-weight: 800;
    letter-spacing: 0.2rem;
    border-right: solid 1px rgba(161, 161, 161, 0.298);
    padding: 19.5px 16px 19.5px 12px;
}

#navbar .navbar {
    padding: 0;
    background-color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.2rem;
    border-left: solid 1px rgba(161, 161, 161, 0.298);
    padding: 0px 1.3em 0px 1.3em;
}

#navbar #first-li {
    border-left: none;
}

#navbar ul li {
    line-height: 1;

}

@media (max-width: 992px) {
    #offcanvasNavbarLabel {
        border: none;
        font-size: 1.2em;
        font-weight: 800;
        letter-spacing: 0.2rem;
    }

    .navbar-brand {
        border: none;
        font-size: 0.7em;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        border-bottom: solid 1px rgba(161, 161, 161, 0.298);
        border-left: none;
        font-weight: 800;
        font-size: 0.9em;
        padding: 21px 0px 21px 0px;
    }
}

/* Main Container */

#container-main {
    display: block;
    margin: 56px auto;
    padding: 4.5em;
    max-width: 100%;
    width:100em;
}


/* Sidebar */

#sidebar {
    display: inline;
}

#headshot {
    border-radius:90%;
    width: 175px;
    height: auto;
    display: inline;
    margin-bottom: 1em;
}

.sidebar-section {
    border-bottom: 1px solid hsla(0,0%,63%,.3);
    padding-bottom:2rem;
}


@media (max-width: 1199px) {
    #sidebar {
        text-align: center;
        margin-top: 50px;
    }

    #main {
        text-align: center;
    }

    #container-main {
        margin: 56px 0 0 0;
        padding: 4.5em 0 0 0;
    }
}

.fa-brands {
    padding:2rem 1%;
    text-align: center;
    color: rgb(170,170,170);
    text-decoration: none;
    font-size: 1.5rem;
}


.copyright {
    font-size: 0.9em;
    letter-spacing: 0.25em;
    line-height: 25px;
    color:rgb(189, 179, 179);
}

.sidebar-bottom {
    border: none;
}


/* Main */

#main {
    background-color: #fff;
    height:1000px;
    border: 1px solid hsla(0,0%,63%,.3);
    display: block;
}

.headline {
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: 0.2rem;
}
